# This is an example config file. It contains all possible configuration
# options. They aren't required however. Missing options are replaced by their
# builtin presets.

[Destination]
# The destination section specifies the access data to a destination server.
# The finished point clouds will be uploaded to this server. All protocols
# supported by libcurl are possible to use.

url sftp://localhost/~/
username rgbd
password s3cr3t

[Capture]
# capture_time sets the amount of time in milliseconds rgbdsend shall fetch
# frames from the sensor per shot. More time means more accurate models.

capture_time 2000

[Daemon]
# This section sets the server properties of the remote control daemon.

port 11222
# connection timeout in seconds
timeout 3