# This is an example config file. It contains all possible configuration
# options. They aren't required however. Missing options are replaced by their
# builtin presets.

[Destination]
# The destination section specifies the access data to a destination server.
# The finished point clouds will be uploaded to this server. All protocols
# supported by libcurl are possible to use.

url sftp://localhost/~/
username rgbd
password s3cr3t

[Capture]
# capture_time sets the amount of time in milliseconds rgbdsend shall fetch
# frames from the sensor per shot. More time means more accurate models.

capture_time 2000

# the crop option set the sensor-side cropping options. All values integers
# from 0 to 100 representing the percentage of the total width/height to be
# cropped from that side. Note that the resulting frame size must be bigger than
# 128x128 pixels. This is a hardware limitation of most sensors.

crop_left 20
crop_right 20
crop_top 20
crop_bottom 0

# max_depth sets the maximal depth of pixels to be included in the point clouds
# in meters. By default it's infinity.

max_depth INF

[Daemon]
# This section sets the server properties of the remote control daemon.

port 11222
# connection timeout in seconds
timeout 3
